
#block-for-slider {
    margin: 3% 1%;
    min-width: 900px;
    position: relative;
    width: 74%;

    margin-left: 13%;

}

#viewport {
    height: auto;
    width: 100%;
    /*position: relative;*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 20px;
    border: 4px solid rgb(10,10,42);

}

#slidewrapper {
    margin: 0;
    background-color: #0A0A2A;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-start: 0;
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slider-wrapper, #slider-wrapper ul, #slider-wrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
    background-color: #1E90FF;
}

.slide-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(10,10,42);
    /*background-color: grey;*/
    top: calc(50% - 25px);

}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

#prev-btn {
    left: -7%;
    background-image: url("../images/prev2.png");
    /*background-position-x: -5px;*/
    background-position-y:5px;
    background-size: 40px;
    background-repeat: no-repeat;

}

#next-btn {
    right: -7%;
    background-image: url("../images/next2.png");
    background-position-y: 5px;
    background-position-x: 6px;
    background-size: 40px;
    background-repeat: no-repeat;
    /*right: 0;*/
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    #next-btn{right: 10px;}
    #prev-btn{left: 10px;}
    #block-for-slider{margin: 50px 80px;}


}