html {
	margin: 0;
	padding: 0;
	border:0;
	/*background: rgba(189, 239, 255,0.8);*/
}

body {
	min-width: 900px;
	color:#191970;
	font-weight: 800;
	margin:0;
}

img.logo {
	height: 107px;
	width: 107px;
}

#up {
	margin: 0;
}

#main {
	background:#F0FFFF;
	margin-top: 10px;
}
.navbar{
	position: fixed;
	top:0;
	width: 100%;
	/*height: 150px;*/
	margin-top: 0;
	overflow: hidden;
	/*border-radius: 10px;*/
}
.blur{
	z-index: -1;
	position: absolute;
	width:100%;
	/*height:150px;*/ 
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
	background: rgba(189, 239, 255,0.8);
	background-size: cover;
	filter: blur(15px);
	overflow: hidden;
	/*background: linear-gradient(0dg);*/
	/*border: 3px solid white;*/
}
ul.menu {
	z-index: 0;
	display: flex;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

.menu > li {
	flex: 1;
	list-style: none;
}

.menu > li:hover {
	cursor: pointer;
	/*background: #fcfcfc;*/
	color:#00A7EE;
	transition: all 0.5s ease;
}

.menu > li.logo:hover {
}


.menu > li:active {
	/*background: #ccc;*/
}


li.nav-btn {
	flex: 1;
	padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

	font-size: 2em;
}

.ratio {
}
.ratio-4-3 {
	padding-top: 50%; /* 100% ширины делим на 4 и умножаем на 3 */
	z-index: -2;

}
.ratio-inner {

	position: relative;
	height: 0;
	border: none;
}

.container {
	z-index: -2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -2;
	width:100%;
	min-width: 700px;


	background-image: url(../images/Bez_imeni-7.jpg);
	min-width: 100%;
	background-size: 102%;
	background-repeat: no-repeat;
	font-family: Palatino;
	margin: 0;
	padding: 0;
	border:0;
	overflow: hidden;
	padding-top: 20%;
	/*border-width: 3px blue;*/
	/*display: flex;
	flex-flow: row nowrap;*/

}

.text{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 33%;
	width: 55%;
	text-align: center;
	font-size: 1.5em;
	color:white;
	margin:50px;

}

/*.container > img {
	height: 780px;
	width: 600px;
}*/

.description {
	top: 400px;
	min-width: 50%;
	margin-left: auto;
    margin-right: auto;
	font-size: 2.4vw;
}
@media only screen and (max-width: 950px) {
	.description{font-size: 0.8em; }
}

.about_us{
	width: 100%;
    position: relative;
    z-index: -2;
}


.contacts{
	background-color: #0A0A2A;
	width: 100%;
	height: 300px;
	color:white;
	z-index: -2;
	overflow: hidden;
}
.line{
	z-index: -2;
	position: center;
}
.symbol{z-index: -3}
.cont{z-index: -3}
.p2{
	width: 10px;
	float: left;
	position: center;
}
.contacts p{
	float: left;
	width: 49.5%;
	text-align: center;
	margin-top: 10px;
}

img.contim{
	width: 30px;
	height: 30px;
	border-radius: 15%;
	background-color: white;
	position: center;
}
.footer{
	position: relative;
	/*background:#87CEFA;*/
	/*text-align: center;
*/
}
.wrapper {
	text-align: center;

	margin-top: 40px;
	transform: translate(-50%, -50%);
	width: 150px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style:none;
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
}
/*
 Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 48px;
  height: 48px;
  line-height: 46px;
  margin: 0 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3.5px solid #000080;
 /* float: center;*/
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #000080;
  margin-top: 9px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 3.5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*vk*/
.wrapper ul li:hover.vk {
  border: 3.5px solid #4169E1;
  box-shadow: 0 0 15px #4169E1;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-vk {
  color:#4169E1;
  text-shadow: 0 0 15px #4169E1;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 3.5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}



@media screen and (max-width: 340px){
  .wrapper {
      width: 15px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}


.title {
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow: hidden;
  color:#00008B;
  text-align: center;
}
.title:before,
.title:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  box-sizing: border-box;

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 150px;
  height: 2px;
  background: #00008B;

  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
  border: solid #FFF;
  border-width: 0 20px;
}
.title:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -100%;
}
.title:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -100%;
}





